fastapi
google_api_python_client
google_play_scraper
httpx
langdetect
numpy
praw
protobuf
pydantic
pytest
python-dotenv
scikit_learn
SQLAlchemy
tenacity
uvicorn[standard]
google-genai
psycopg2-binary
groq
